{% extends "layouts/base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-12 mx-auto">
        <h1 class="text-center">Ajouter un article</h1>
    </div>

    <div class="row">
        <div class="col-8 mx-auto">
        </div>
    </div>
</div>
{# 1ère façon : affichage global du formulaire #}
    {# {{form(form)}} #}

{# 2nd façon : affichage partiel du formulaire = input par input #}
{{form_start(form, {'attr': {novalidate: 'novalidate'}})}} {# <form class='' action='' methodes=''> #}
    {# form_row() représente votre input déclaré dans le PostType #}
    <div class="mb-3">{{form_row(form.title)}}</div>
    <div class="mb-3">{{form_row(form.subtitle)}}</div>
    <div class="mb-3">{{form_row(form.content)}}</div>
    <div class="mb-3">{{form_row(form.category)}}</div>
    <div class="mb-3">{{form_row(form.photo)}}</div>
    {# Nous allons plutôt déclarer le <button> dans le PostType #}
    {# <button type="submit">Publier</button> #}
{{form_end(form)}} {# </form> #}
{% endblock %}
